@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img,
video,
canvas,
svg,
iframe {
  max-width: 100%;
  height: auto;
}

@supports (padding: max(0px)) {
  body {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  .nc-Header {
    top: 0;
  }

  .HeroSearchFormMobile__Dialog .pt-12 {
    padding-top: 2.5rem;
  }
}
